#homepage{
	background-image:url("reddice.jpg");
	height:100%;
	background-repeat:no-repeat;
	background-size: cover;	
}
#gameName{
	font-size:100px;
	text-align: center;
	color:white;
	text-shadow:4px 4px red;
}
#gameDescription{
	font-size:20px;
	text-align:center;
	color:white;
	margin-top:25px;
}
.freeRoll{
	font-size:14px;
}


.container{
	margin-top:60px;
	font-size:25px;
	color:white;
	text-align:center;
}

.col-sm-6{
	text-align:center;
	color:white;
	font-size:40px;
	margin-top:140px;
}
